# ===== IDE and OS Trash =====
.vscode/
Thumbs.db
Desktop.ini

# ===== Helpers =====
*.lnk
copy.bat
.clang-format

plugins/*/target

**/__pycache__
*.pyc
*.secret

# ===== Backups / Tempfiles =====
*.bak
*.tmp
*.log
